body{background-color: darkblue;color: whitesmoke;}
a:link {
    color: pink;
}
/* A link that has been visited */
a:visited {
    color:coral;
}
h3{font-family: 'Courier New', Courier, monospace;}
p{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
form{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}